// Estilos componente NavLink

$green: #C1D72F;

@mixin menu-default {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #000000;
};


.nav-item {
    @include menu-default;
    text-decoration: none;
    
    &:hover {
        color: #74821b;
    }

    &.menu-active,
    &:active {
        color: $green;
    }


    @media (max-width: 480px) {
        font-size: 16px;
    }
}
