// estilos componente SearchBar

.search-bar {
    display: flex;
    align-items: center;
    padding: 60px 50% 0px 0px;

    input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-right: 20px;
        width: 100%;
    }


    @media (max-width: 480px) {
        padding: 60px 0% 0px 0px;
    }
}