// Estilos generales

@mixin character-style {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}


* {
    margin: 0;
    padding: 0;
    @include character-style;
}

body {
    padding-bottom: 80px;
}

section {
    padding: 0px 60px;
}
