// Estilos generales

@mixin character-style {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

section {
    padding: 0px 40px;
    @include character-style;
}
