// Estilos generales

@mixin character-style {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

// Estilos para encabezado de cada section o page
.heading {
    font-size: 34px;
}

* {
    margin: 0;
    padding: 0;
}

section {
    padding: 0px 40px 0px 40px;
    @include character-style;
}
